<html>
<script src="AngularJs/angular.js"></script>
   
    <script>
        
        
    var app=angular.module("myApp",[]);
        
        app.controller("democontroller", function($scope)
                       {
            
            var numbr1=[
                {numbr:0}
                
            ];
            $scope.allData=numbr1;
            
            
            $scope.IncrementNumbr=function(values)
            {
                
                values.numbr++;
            }
            
           
        });
    
    </script>
    
    
    <body ng-app="myApp" ng-controller="democontroller">
    
        
        <div ng-repeat="values in allData">
        {{values.numbr}}
            
            
        <input type="button" value="Click_Me" ng-click="IncrementNumbr(values)">
            <a href="index3.html">touchIt</a> 
    
        </div>
    
    
    </body>
    
</html>